.login {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%, /* Start with solid black at the top */
    rgba(0, 0, 0, 0.7) 20%, /* Adjust the transparency gradually */
    rgba(0, 0, 0, 0) 50%, /* Fully transparent in the middle */
    rgba(0, 0, 0, 0.7) 80%, /* Adjust the transparency gradually */
    rgba(0, 0, 0, 1) 100% /* End with solid black at the bottom */
  ),
  url("https://assets.nflxext.com/ffe/siteui/vlv3/7ca5b7c7-20aa-42a8-a278-f801b0d65fa1/8120326d-a774-464c-a301-6e9acfdb4d7c/MA-en-20240326-popsignuptwoweeks-perspective_alpha_website_large.jpg");
background-size: cover;
    position: relative;
  
    .top {
      .wrapper {
        padding: 20px 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
  
        .logo {
          height: 40px;
        }
      }
    }
  
    .container {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: white;
  
      form {
        width: 300px;
        height: 300px;
        padding: 30px;
        border-radius: 5px;
        background-color: var(--main-color);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
  
        input {
          height: 40px;
          border-radius: 5px;
          background-color: gray;
          color: white;
          padding-left: 10px;
  
          &::placeholder {
            color: lightgray;
          }
        }
  
        button {
          height: 40px;
          border-radius: 5px;
          background-color: red;
          color: white;
          border: none;
          font-size: 18px;
          font-weight: 500;
          cursor: pointer;
        }
  
        span {
          color: lightgray;
          b {
            color: white;
          }
        }
      }
    }
  }